body {
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

nav {
    padding: 20px;
}

.nav-list {
    margin: 0;
    display: flex;
}

.nav-list li, .nav-list a {
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
}


