<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
	<link rel="stylesheet" href="style.css">
	<title>STEMMING</title>
</head>
<body>
	<header>
		<nav>
			<ul class="nav-list">
                <li><a href="">Home</a></li>
				<li><a href="">Upload File</a></li>
				<li><a href="">Query</a></li>
			</ul>
		</nav>
    </header>
    <main>
        <div class="container">
            <div class="Search-container">
                <h1 class="title-tag">Search Document</h1>
                <form method="post" action="">
                    <input class="keyword" type="text" name="kata" id="kata" value="">
                    <input class="btn-form" type="submit" name="submit" value="Submit"/>
                </form>
            </div>
            <div class="results">
                <div class="result">
                    <div class="result-head">
                        <h2 class="document-title-result">Matplotlib, numpy</h2>
                        <p class="document-title">Matplotlib, numpy.pdf</p>
                        <div class="info-icon-container">    
                            <p><i class="fas fa-user"></i> Robby</p>
                            <p><i class="far fa-clock"></i> 10 minute ago</p>
                        </div>
                    </div>
                    <div class="result-body">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet neque nemo repudiandae, blanditiis sunt commodi totam et, obcaecati ipsam dolorum consectetur? Expedita, odit ex. Velit earum sequi sit? At, ipsum?
                    </div>
                </div>
                <div class="result">
                    <div class="result-head">
                        <h2 class="document-title-result">Matplotlib, numpy</h2>
                        <p class="document-title">Matplotlib, numpy.pdf</p>
                        <div class="info-icon-container">    
                            <p><i class="fas fa-user"></i> Robby</p>
                            <p><i class="far fa-clock"></i> 10 minute ago</p>
                        </div>
                    </div>
                    <div class="result-body">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet neque nemo repudiandae, blanditiis sunt commodi totam et, obcaecati ipsam dolorum consectetur? Expedita, odit ex. Velit earum sequi sit? At, ipsum?
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>